 {% extends 'base.html' %} {% block breadcrumbs%}
<div id="events" class="module parallax parallax-events breadcrumbs my_clas about_text">
    <div class="container">
        <div class="row">
            <div class="event-inner col-sm-12 text-center">
                <div class="main_heading block2 wow fadeInUp animated text-tranmms" data-wow-delay="0.5s" data-wow-duration="1s" style="
                             visibility: visible;
                             animation-duration: 1s;
                             animation-delay: 0.5s;
                             animation-name: fadeInUp;
                         ">
                    <span style="
                                 position: relative;
                                 top: -8px;
                                 color: #9999ff;
                             ">Where creativity
                         </span>
                    <div class="center_text">
                        <span class="blackText" style="6s">Enter </span>
                        <span class="big_text color_white" style="color: blue">
                                 <p class="big_letter">B</p>
                                 lue Marlin</span
                             >
                         </div>
                         <span
                             style="
                                 position: relative;
                                 top: -8px;
                                 color: #9999ff;
                             "
                         >
                             knows no bounds</span
                         >
                     </div>
                 </div>
             </div>
         </div>
     </div>{% endblock %} 
     


     {% block content %}
<div id="services" class=" services">
    <div class="background_decor_right new_rights"></div>
    <div class="background_decor_left"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12 abouts_max">
                <div class="services-inner col-md-12 col-sm-12 col-xs-12 text-right my_coloums news_collums">
                    <h1 class="wow fadeInUp" data-wow-duration="2s"><span style="color:blue;font-weight:bold">At the core of a memorable event is a spectacular idea</span></h1>
                        <h2 class="wow fadeInUp" data-wow-duration="2s">Taking that idea from concept to reality requires a unique combination: creativity, <br> a desire for excellence and immaculate organizational skills.</h2>

                        <p class="wow fadeInUp" data-wow-duration="2s">The success of Blue Marlin Events is a result of the team working tirelessly to ensure that every component of the event unravels exactly as planned. A factor that unites each member of the team is a ‘passion for experience’ -
                            a steadfast commitment to ensuring that every event is an experience, a memory that will stay in the mind of those present long after they have left the venue. Blue Marlin Events was founded in 2015; with a combined experience
                            of 100+ years in the field, the founding team noticed that there was a clear gap in the industry for a professional and reliable innovation-driven event management company. <br> At Blue Marlin Events, our focus is a simple
                            one – event management in a way that creates a win-win situation for all involved stakeholders. Our goal is to ensure that our clients as well as participants of the event have an overall positive experience. To do this, our
                            team is professional and polite – we don’t look at building one time associations with clients, instead, aim at creating long-lasting collaborations that will span years to come. <br>
                            <a href="/contact" class="grey Buttons">Let’s Talk!</a> </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 position_top second_max">

                    <div class="hexagon position1 about1">
                        <div class="face1"></div>
                        <div class="face2"></div>
                    </div>
                    <div class="hexagon position2 about2">
                        <div class="face1"></div>
                        <div class="face2"></div>
                    </div>
                    <div class="hexagon position3 about3">
                        <div class="face1"></div>
                        <div class="face2"></div>
                    </div>

                    <div class="hexagon position4 about4">
                        <div class="face1"></div>
                        <div class="face2"></div>
                    </div>
                    <div class="hexagon position5 about5">
                        <div class="face1"></div>
                        <div class="face2"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="media_section module parallax parallax-events breadcrumbs vision_statement">

        <div class="container">
            <div class="row">
                <div class="main_heading wow fadeInUp animated" data-wow-delay="0.5s" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;"> <span class="border_left left_promise"></span> <span class="border_right right_promise"></span> <span style="position: relative; top: -8px;">Blue Marlin Is the</span>
                    <div class="center_text"><span class="ourss">Statement  </span> <span class="big_text">
          <p class="big_letter" style="color: #0000cc;">V</p><span style="color: #0000cc;">ision</span></div>
                    <span style="position: relative; top: -8px;">behind your event</span> </div>

                <div class="col-md-12 col-sm-12 col-xs-12 new_S vision_services">
                    <h3>Our aim is to be amongst the top five event management companies in Bangladesh. </h3>
                    <p style="color:blue;font-weight:bold">We do this by Innovation, SOPs, Strategic execution focus, IP’s, Brand Building & Organization building.</p>
                    <h3>Our core purpose is to create WOW customer experience, and to bring prosperity for the entire ecosystem connected with us.</h3>

                </div>
            </div>
        </div>

    </div>

    <!-- end services -->
    <div class="media_section module parallax parallax-events breadcrumbs news_services">
        <div class="container">
            <div class="row">
                <div class="main_heading wow fadeInUp animated" data-wow-delay="0.5s" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;"> <span class="border_left left_promise"></span> <span class="border_right right_promise"></span> <span style="position: relative; top: -8px;">Blue Marlin Is the</span>
                    <div class="center_text"><span class="blackText our_satisf">The Marlin </span> <span class="big_text blue_color">
          <p class="big_letter" style="color: #0000cc;">P</p><span style="color: #0000cc;">romise</span></div>
                    <span style="position: relative; top: -8px;">behind your event</span> </div>
                <div class="news_body">
                    <div class="col-md-12 col-sm-12">
                        <div class="about_wo wow fadeInUp" data-wow-duration="2s">
                            <p>Working in an industry that is relatively cluttered means that we’re often asked by prospective clients – why should we go with Blue Marlin? What sets you apart? The answer is a simple one: we understand the many nuances of
                                event management well. Irrespective of an event’s scale, the nature of the event or the level of security it requires, we realize the kind of arrangements that need to be made. More importantly, our vast experience with
                                different events has equipped us to manage all types of events, unique as they may be. </p>
                        </div>
                        <div class="main_headings heading_befores">
                            <h3 class="wow fadeInUp  animated heading_line" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInUp;"><span style="color: #0000cc;">We follow three straightforward rules of thumb:</span> </h3>
                        </div>
                    </div>
                </div>

                <div class="timeline-centered wow fadeInUp timelines_main" data-wow-duration="2s">
                    <article class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon bg-primary"> <i class="fa fa-thumbs-o-up"></i> </div>
                            <div class="timeline-label">
                                <h2><a href="#"><span style="color: #0000cc;">Always be prepared</span> </a></h2>
                                <p>If something can go wrong, it will, so have a contingency plan for every factor </p>
                            </div>
                        </div>
                    </article>
                    <article class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon bg-secondary"> <i class="fa fa-thumbs-o-up"></i> </div>
                            <div class="timeline-label">
                                <h2><a href="#"><span style="color: #0000cc;">Think out of the box_ it is not an option , it is the norm </span></a></h2>
                                <p>Set a new benchmark, by doing things uniquely and daring to be different </p>
                            </div>
                        </div>
                    </article>
                    <article class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon bg-warning"> <i class="fa fa-thumbs-o-up"></i> </div>
                            <div class="timeline-label">
                                <h2><a href="#"><span style="color: #0000cc;">Dominate the details!</span> </a> </h2>
                                <p>Think about the small factors of the event, they contribute to big-picture success </p>
                            </div>
                        </div>
                    </article>

                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="media_section module parallax parallax-events breadcrumbs values_services">

        <div class="container">
            <div class="row">
                <div class="main_heading wow fadeInUp animated" data-wow-delay="0.5s" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;"> <span class="border_left left_promise"></span> <span class="border_right right_promise"></span> <span style="position: relative; top: -8px;">Blue Marlin Is the</span>
                    <div class="center_text"><span class="ourss">Our </span> <span class="big_text">
          <p class= "big_letter" style="color: #ffffff;">V</p><span style="color: #ffffff;" >alues</span></div>
                    <span style="position: relative; top: -8px;">behind your event</span> </div>

                <div class="col-md-12 col-sm-12 col-xs-12 new_S border_linings">
                    <div class="box_session">
                        <div class="col-md-1"></div>
                        <div class="col-md-2 col-sm-4 col-xs-6 para_width values_min circle_width">
                            <div class="new_circles">
                                <div class="inner_circles">
                                    <center>
                                        <div class="managing">
                                            <i class="fa fa-heart"></i>
                                            <p>Passion</p>

                                        </div>

                                    </center>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 para_width circle_width">
                            <div class="new_circles">
                                <div class="inner_circles">
                                    <center>
                                        <div class="managing">
                                            <i class="fa fa-star"></i>

                                            <p>Excellence </p>

                                        </div>

                                    </center>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 para_width circle_width">
                            <div class="new_circles">
                                <div class="inner_circles">
                                    <center>
                                        <div class="managing">
                                            <i class="fa fa-cogs"></i>


                                            <p>Positive Attitude </p>

                                        </div>

                                    </center>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 para_width circle_width">
                            <div class="new_circles">
                                <div class="inner_circles">
                                    <center>
                                        <div class="managing">
                                            <p align="center"><img src="images/icon/runner.png" class="img-responsive img-top"></p>



                                            <p>Extra Mile </p>
                                        </div>


                                    </center>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 para_width circle_width">
                            <div class="new_circles">
                                <div class="inner_circles">
                                    <center>
                                        <div class="managing">
                                            <i class="fa fa-camera"></i>

                                            <p>Imagination </p>

                                        </div>

                                    </center>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    {% endblock %}