{% extends 'base.html' %} {% load static %} {% block breadcrumbs %}
<div
    id="events"
    class="module parallax parallax-events breadcrumbs my_clas about_text"
>
    <div class="container">
        <div class="row">
            <div class="event-inner col-sm-12 text-center">
                <div
                    class="main_heading block2 wow fadeInUp animated text-tranmms"
                    data-wow-delay="0.5s"
                    data-wow-duration="1s"
                    style="
                        visibility: visible;
                        animation-duration: 1s;
                        animation-delay: 0.5s;
                        animation-name: fadeInUp;
                    "
                >
                    <span style="position: relative; top: -8px; color: #9999ff"
                        >Where creativity
                    </span>
                    <div class="center_text">
                        <span class="blackText" style="6s">Enter </span>
                        <span class="big_text color_white" style="color: blue">
                            <p class="big_letter">B</p>
                            lue Marlin</span
                        >
                    </div>
                    <span style="position: relative; top: -8px; color: #9999ff">
                        knows no bounds</span
                    >
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block content %}

<div class="opacity-medium bg-extra-dark-blue"></div>
<div class="container">
    <div class="row">
        <div
            class="col-md-12 col-sm-12 col-xs-12 extra-small-screen display-table page-title-large"
        >
            <div class="display-table-cell vertical-align-middle text-center">
                <!-- start page title -->
                <h1
                    class="text-white big-letter alt-font font-weight-500 letter-spacing-minus-1 margin-10px-bottom"
                >
                    <font color="blue" face="gill sans" size="12"
                        ><b>Our</b> Packages<br />
                        <h3>
                            <b> Discover The Most Reliable Wedding Vendors</b>
                        </h3>
                    </font>
                </h1>
                <!-- end page title -->
            </div>
        </div>
    </div>
</div>
<canvas id="cloud-panel" width="10" height="1" class="canvasstyle"></canvas>

<!-- end page title section -->
<br />
<br /><br /><br />
<!-- start information section -->
<section id="thumbnail">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img
                        src="{% static 'images/Vendor_type/5183d5186182d1c7613ac2c492f47d29.jpg' %}"
                        alt="packges.html"
                    />

                    <h2 class="text-center">
                        <a href="venus"><b>Venues</b></a>
                    </h2>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img
                        src="{% static 'images/Vendor_type/7ec29251afd757541fcb0deb213f8849.jpg' %}"
                        alt="packages.html"
                    />

                    <h2 class="text-center">
                        <a href="photographer"><b>Photographers</b></a>
                    </h2>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img
                        src="{% static 'images/Vendor_type/d085e87ee9b002b46f0a9581089cac4d.jpg' %}"
                        alt="packages.html"
                    />

                    <h2 class="text-center">
                        <a href="makeup_artists"><b>Makeup Artists </b></a>
                    </h2>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img
                        src="{% static 'images/Vendor_type/6ca288636747ba1b2e38ae55df897ff0.jpg' %}"
                        alt="venus.html"
                    />

                    <h2 class="text-center">
                        <a href="mehendi_artists"><b>Mehendi Artists </b></a>
                    </h2>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img
                        src="{% static 'images/Vendor_type/8a8954783c9f91028512dde6e88fc8b3.jpg' %}"
                        alt="packages.html"
                    />

                    <h2 class="text-center">
                        <a href="bridal_wear"><b>Bridal Wear </b></a>
                    </h2>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img
                        src="{% static 'images/Vendor_type/5ea1402f53ac60c91a28079a3ff6914e.jpg' %}"
                        alt="packages.html"
                    />

                    <h2 class="text-center">
                        <a href="groom_wear"><b>Groom Wear </b></a>
                    </h2>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img
                        src="{% static 'images/Vendor_type/0e8fc586143d0bdcedd4a62bc3692e7b.jpg' %}"
                        alt="packages.html"
                    />

                    <h2 class="text-center">
                        <a href="kazi"><b>Kazi Office </b></a>
                    </h2>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img
                        src="{% static 'images/Vendor_type/258b3108aa1d4b2bdfcd8e29fb029e02.jpg' %}"
                        alt="packages.html"
                    />

                    <h2 class="text-center">
                        <a href="decorators"><b>Decorators </b></a>
                    </h2>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img
                        src="{% static 'images/Vendor_type/0db773c02c964b320d023216d36e60c3.jpg' %}"
                        alt="packages.html"
                    />

                    <h2 class="text-center">
                        <a href="caterers"><b>Caterers </b></a>
                    </h2>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img
                        src="{% static 'images/Vendor_type/438af5dbb55a40fb7b30ec43c44363aa.jpg' %}"
                        alt="packages.html"
                    />

                    <h2 class="text-center">
                        <a href="dj-and-live"><b>DJ & Live</b></a>
                    </h2>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img
                        src="{% static 'images/Vendor_type/150a3cf0472364fac3bb156fdf6c3531.jpg' %}"
                        alt="packages.html"
                    />

                    <h2 class="text-center">
                        <a href="invite-card"><b>Invitation Cards </b></a>
                    </h2>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img
                        src="{% static 'images/Vendor_type/categories-img-12.jpg' %}"
                        alt="packages.html"
                    />

                    <h2 class="text-center">
                        <a href="other-services"><b>View other Services </b></a>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
</section>
