{% extends 'base.html' %} {% load static %}
<!-- start breadcrumbs -->
{%block content %}
<div id="events" class="module parallax parallax-events breadcrumbs portfolios_banners">
    <div class="container">
        <div class="row">
            <div class="event-inner col-sm-12 text-center">
                <div class="main_heading block2 wow fadeInUp animated text-tranmm" data-wow-delay="0.5s" data-wow-duration="1s" style="
                        visibility: visible;
                        animation-duration: 1s;
                        animation-delay: 0.5s;
                        animation-name: fadeInUp;
                    ">
                    <span class="border_left port_m"></span>
                    <span class="border_right port_n"></span>
                    <span style="position: relative; top: -8px">We pair innovation with execution
                    </span>
                    <div class="center_text">
                        <span class="blackText">Marlin in </span>
                        <span class="big_text color_white">
                            <p class="big_letter">A</p>
                            ction</span
                        >
                    </div>
                    <span style="position: relative; top: -8px">
                        in the most stunning of ways!
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end breadcrumbs -->
    <div id="blogs" class="bg_grey border_top">
        <div class="background_decor_left"></div>

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="thumbnail">
                        <img src="{% static 'new photo/6.jpg' %}" />
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="thumbnail">
                        <img src="{% static 'new photo/1.jpg' %}" />
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="thumbnail">
                        <img src="{% static 'new photo/8.jpg' %}" />
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="thumbnail">
                        <img src="{% static 'new photo/7.jpg' %}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-8 col-md-8">
                    <div class="thumbnail">
                        <img src="{% static 'image/Groom-2.jpg' %}" class="img-responsive height:20px;width:280px;" />
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="thumbnail">
                        <img src="{% static 'images/Groom1.jpg' %}" class="img-responsive" />
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="thumbnail">
                        <img src="{% static 'images/Groom3.jpg' %}" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
        <br /><br />

        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-md-2">
                    <img src="{% static 'image/testimonial3-e1513405594928-144x150.jpg' %}" class="img-responsive height:20px;width:280px;" />
                </div>
                <div class="col-lg-2 col-sm-2 col-md-2">
                    <img src="{% static 'image/testimonial5-e1513405472926-150x145.jpg' %}" class="img-responsive" />
                </div>
                <div class="col-lg-2 col-sm-2 col-md-2">
                    <img src="{% static 'image/testimonial6-e1513405432470-150x150.jpg' %}" class="img-responsive" />
                </div>

                <div class="col-lg-2 col-sm-2 col-md-2">
                    <img src="{% static 'image/testimonial1-e1513405659119-135x150.jpg' %}" class="img-responsive" />
                </div>
                <div class="col-lg-2 col-sm-2 col-md-2">
                    <img src="{% static 'image/testimonial10-e1513405165353-150x136.jpg' %}" class="img-responsive" />
                </div>
                <div class="col-lg-2 col-sm-2 col-md-2">
                    <img src="{% static 'image/testimonial9-e1513405250828-150x124.jpg' %}" class="img-responsive" />
                </div>
            </div>
        </div>
        <br />

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4 col-md-4">
                    <img src="{% static 'new photo/bang.jpg' %}" class="img-responsive" />
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4">
                    <img src="{% static 'new photo/8.jpg' %}" />
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4">
                    <img src="{% static 'new photo/load.jpg' %}" />
                </div>
            </div>
        </div>
        <br />

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-3 col-md-3">
                    <img src="{% static 'new photo/black-and-golden-jacquard-silk-textured-lehenga-saree-with-designer-blouse.jpg' %}" class="img-responsive" />
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3">
                    <img src="{% static 'new photo/Black Color Terry Rayon Indowestern.jpg' %}" />
                </div>
                <div class="col-lg-3 col-sm-3 col-md-3">
                    <img src="{% static 'new photo/maroon-velvet-bridal-lehenga-choli-with-zari-embroidery.jpg' %}" />
                </div>
            </div>
        </div>
    </div>
    {% endblock %}